<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BASE_URL</key>
    <string>$(BASE_URL)</string>
    <key>CLOUDINARY_CLOUD_NAME</key>
    <string>$(CLOUDINARY_CLOUD_NAME)</string>
    <key>CLOUDINARY_API_KEY</key>
    <string>$(CLOUDINARY_API_KEY)</string>
    <key>CLOUDINARY_UPLOAD_PRESET</key>
    <string>$(CLOUDINARY_UPLOAD_PRESET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>onrender.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
